*{
    margin: 0;
    padding: O;
}
.list-project {
    text-align: center;
    
  }
  .list{
    height: 50px;
    border-width: thick;
    list-style-position:inside;
    border: 1px solid black;
  }
  ul {
    list-style: none;
    padding: 10px;
    font-size: small;
    font-family: "Tahoma", Arial, sans-serif;
    text-align: left;
    
  }
  li{
    
  }
  button{
    cursor: pointer;


    margin: 5px 2px;
    justify-content: space-between;
  align-items: center;
  text-align: center;
  }
  
   .copy {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 7px;
  }
  .delete    {
    background-color: #f44336;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 7px;
    align-items: center;
  text-align: center;
    
  }
  .new-project    {
    margin: 30px;

    background-color: #008CBA;
    border: none;
    color: white;
    padding: 15px 32px;
    text-decoration: none;

    font-size: 7px;
    margin-left: 85%;
  }